#intro {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	margin-top: 25px;
	margin-left: 125px;
	margin-right: 125px;
	background-color: #A3E4D7;
	text-align: left;
	border-bottom: 1px solid #999;
	padding: 50px 50px 50px 50px;
}


#photo {
	float: right;
}


body {
	height: 100%;
	margin: 10;
	text-align: left;
	width: 100%;
}

h1 {
	font-size: 36px; font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h2 {
	font-size: 24px;
}



p {
  font-size: 18px;
}
