#intro {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	margin-top: 25px;
	margin-left: 125px;
	margin-right: 125px;
	margin-bottom: 125px;
	background-color: #A3E4D7;
	text-align: left;
	border-bottom: 1px solid #999;
	padding: 50px 50px 50px 50px;
	border-radius: 10px;	
}


#photo {
	float: right;
}


body {
	margin-top: 25px;
	margin-left: 125px;
	margin-right: 125px;
	text-align: left;
	width: 75%;
}

h1 {
	font-size: 36px; font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h2 {
	font-size: 24px; font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h3 {
	font-size: 20px; font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

p {
  font-size: 18px; font-family: 'Trebuchet MS', Helvetica, sans-serif;
}


ul {
  font-size: 18px; font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
